apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: item-scraper-tyler-fork
  annotations:
    run.googleapis.com/launch-stage: BETA
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/maxScale: "10"
    spec:
      containerConcurrency: 1
      timeoutSeconds: 300
      containers:
        - resources:
            limits:
              memory: 1Gi
              cpu: "1"

